
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" routerLinkActive="router-link-active" >Triangles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <a class="nav-link" routerLink="/coordinates" routerLinkActive="router-link-active" >Find Coordinates</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/location" routerLinkActive="router-link-active">Find Location</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

<h1 class="text-center m-5">Coding Task</h1>

<router-outlet></router-outlet>